@import url("https://fonts.googleapis.com/css?family=Codystar|Monoton|Anton|Roboto");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}

.neon {
  /* font-family: "Codystar", cursive; */
  padding: 0px 20px;
  font-family: "Monoton", cursive;
  font-size: 60px;
  color: white;
  text-shadow: 0px 2px 18px rgba(255, 255, 255, 0.39);
}

#nav {
  background-color: rgba(2, 6, 28, 0.954);
}

.cover-img {
  height: 450px;
}
.card-img {
  height: 150px;
  transition: all 0.2s;
}
.card {
  border: none !important;
  transition: all 0.1s ease-in-out;
}
.card-light:hover {
  box-shadow: 0px 2px 18px rgba(255, 255, 255, 0.39);
}
.card-dark:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: scale(1.05, 1.05);
  overflow: hidden;
}

#slider {
  box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.7);
}

a.none {
  color: inherit;
  text-decoration: none;
}
a.none:hover {
  text-decoration: none;
}

.menusepa {
  border-right: 1px solid white;
}

#eventcont,
#purchasecont,
#usercont {
  background-image: url("../img/worldbk.png");
}

#maincont {
  background: red;
  background-image: url("../img/bk1.jpg");
}

#eventcont .container {
  padding-bottom: 100px;
}

#loginform {
  box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.7);
  background-image: url("../img/paper2.png");
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgba(2, 6, 28, 0.954);
}

.negativemgt {
  background-image: url("../img/paper2.png");
}
