#main-content {
  min-height: 70vh;
}
.negativemgt {
  position: relative;
  top: -10vh;
}

.nav-item a {
  color: var(--secondary);
}

#logincont {
  background: red;
}

.event-tit {
  text-transform: uppercase;
}

.bg-black {
  background-color: black;
}
